* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-tooltip {
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.details-container {
  background-color: #333; /* Dark grey background */
  color: #fff; /* White text color */
  min-height: 100vh;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.details-spinner {
  color: #fff; /* White spinner */
}

.incident-map-container {
  flex: 2;
}

.map-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.map-summary-spinner {
  size: 10px;
}

.map-summary {
  align-content: center;
  font-weight: bold;
  margin: 6px;
}

.filter-overlay {
  position: absolute;
  top: 10px;
  left: 84%;
  transform: translateX(-50%);
  z-index: 1000; /* Ensure the filter bar is on top of the map */
  width: 30%;
  max-width: 600px;
  background-color: #333;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filter-overlay .filter-container {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  margin: 5px auto;
}

.filter-overlay .selected-options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin: 5px;
}

.filter-overlay .input-container {
  width: 100%;
  display: flex;
  margin-top: 5px;
}

.selected-option {
  display: flex;
  align-items: center;
  background-color: #e0e0e02f;
  border-radius: 8px;
  padding: 5px;
  margin: 1px;
  font-size: 10px;
  min-width: 60px; /* Set a minimum width */
}

.remove-option {
  margin-left: 5px;
  cursor: pointer;
}

.filter-overlay .search-bar {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  box-sizing: border-box;
  flex: 1;
  background-color: #333;
}

.filter-overlay .scroll-container {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
  border-top: 1px solid #ccc;
}

.filter-overlay ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

.filter-overlay li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
}

.scroll-container li:hover {
  background-color: #f0f0f07e;
}

.scroll-container li.selected {
  background-color: #f0f0f07e; /* Selected option background color */
}

.toggle-filter-button {
  margin: 1px;
  padding: 2px 4px;
  font-size: 10px;
  cursor: pointer;
  background-color: #333;
  color: white;
}
